{% extends "shared/layout.html" %}
{% load static %}

{% block content %}


    <h2>Latest listings</h2>
    <div class="template" id="adverts">
       
        <div class="homes" id="features">
            <!-- <img src="img/2.jpg" alt="home img"> -->
            <p class="price" >price:$100,000</p>
            <p><h4>Address</h4></p>
            <p>location</p>

            <hr>
            <ul class="specifications">
                <li>squarefeet</li>
                <li>garage</li>
                <li>bedroom</li>
                <li>bathroom</li>
            </ul>
            <hr>
            <ul class="details">
                <li>Name</li>
                <li>Time</li>
            </ul>
            <input type="button" value="more info">
            
        </div>
        <div class="homes" id="features">
            <img src="{% static 'img/6.jpeg' %}" alt="home img">
            <p><h4>Address</h4></p>
            <p>location</p>

            <hr>
            <ul class="specifications">
                <li>squarefeet</li>
                <li>garage</li>
                <li>bedroom</li>
                <li>bathroom</li>
            </ul>
            <hr>
            <ul class="details">
                <li>Name</li>
                <li>Time</li>
            </ul>
            <input type="button" value="more info">
            
        </div>
        <div class="homes" id="features">
            <img src="{% static 'img/6.jpeg' %}" alt="home img">
            <p><h4>Address</h4></p>
            <p>location</p>

            <hr>
            <ul class="specifications">
                <li>squarefeet</li>
                <li>garage</li>
                <li>bedroom</li>
                <li>bathroom</li>
            </ul>
            <hr>
            <ul class="details">
                <li>Name</li>
                <li>Time</li>
            </ul>
            <input type="button" value="more info">
            
        </div>
        <div class="homes" id="features">
            <img src="{% static 'img/6.jpeg' %}" alt="home img">
            <p><h4>Address</h4></p>
            <p>location</p>

            <hr>
            <ul class="specifications">
                <li>squarefeet</li>
                <li>garage</li>
                <li>bedroom</li>
                <li>bathroom</li>
            </ul>
            <hr>
            <ul class="details">
                <li>Name</li>
                <li>Time</li>
            </ul>
            <input type="button" value="more info">
            
        </div>
        <div class="homes" id="features">
            <img src="{% static 'img/6.jpeg' %}" alt="home img">
            <p><h4>Address</h4></p>
            <p>location</p>

            <hr>
            <ul class="specifications">
                <li>squarefeet</li>
                <li>garage</li>
                <li>bedroom</li>
                <li>bathroom</li>
            </ul>
            <hr>
            <ul class="details">
                <li>Name</li>
                <li>Time</li>
            </ul>
            <input type="button" value="more info">
            
        </div>
        <div class="homes" id="features">
            <img src="{% static 'img/6.jpeg' %}" alt="home img">
            <p><h4>Address</h4></p>
            <p>location</p>

            <hr>
            <ul class="specifications">
                <li>squarefeet</li>
                <li>garage</li>
                <li>bedroom</li>
                <li>bathroom</li>
            </ul>
            <hr>
            <ul class="details">
                <li>Name</li>
                <li>Time</li>
            </ul>
            <input type="button" value="more info">
            
        </div>
    </div>
    
    
 
   <div class="height">
       
   </div>
   <div class="customer-care">
       <div class="customer-wrapper">
    <ul class="choices">
        <li>
            <h3>
                <a href="#"><b>Consulting Services</b> </a> 
            </h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, quibusdam. Quibusdam molestias quas deserunt esse voluptatem incidunt facere tempore necessitatibus fugit eius! Suscipit quod consequatur natus quaerat! Distinctio, pariatur aliquid!
             </p>
        </li>
        <li>
            <h3>
                <a href="#"> <b> Property Management</b></a>
            </h3>
            <p>
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, quibusdam. Quibusdam molestias quas deserunt esse voluptatem incidunt facere tempore necessitatibus fugit eius! Suscipit quod consequatur natus quaerat! Distinctio, pariatur aliquid!
            </p>
        </li>
        <li>
            <h3>
                <a href="#"><b> Renting and Selling </b></a>
            </h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, quibusdam. Quibusdam molestias quas deserunt esse voluptatem incidunt facere tempore necessitatibus fugit eius! Suscipit quod consequatur natus quaerat! Distinctio, pariatur aliquid!
             </p>
        </li>
    </ul>
</div>
</div>
  
    
   

{% endblock content %}
  



