{% if messages %}
  {% for message in messages %}
    <div id="message"  class="container">
       <div class="{{ message.tags}}">
        <p>
            <strong >
                {% if message.level == DEFAULT_MESAAGE_LEVELS.ERROR %}
                    Error:
                {% else %}  

                    {{ message.tags|title }}:  
                {% endif %}
             </strong>

             {{ message }}
            
        </p> 
           

       </div>
      
    </div>
     
  {% endfor %}
{% endif %}