{% extends "layout.html" %}
{% load static %}
<!-- {% load tz %}
{% get_current_timezone as TIME_ZONE %} -->

{% block title %}
  | staff attendance
{% endblock title %}

{% block links %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
<link rel="stylesheet" href="{% static 'css/staff.css' %}"> 


{% endblock links %}
   
</head>
<body class="overlay-scrollbar">
   
  {% block content %}
     
     
        <!-- main content  -->
     <div class="wrapper">
        
          
       
        
    {% if user.is_authenticated %}
           
         
    
        <div class="user-display">
             <div class="user-flip">
                 <div class="user-flip-inner green">
                 <div class="user-display">
                    
                     <div class="user-flip-front">
                         <p>
                             <h1>
                                 <i class="fa fa-user"></i>
                             </h1>
                             <h2>
                                 Welcome,
                                     
                             </h2>
                         </p>
                         <P>
                             <H2>
                                  {{ user.first_name}} 
                                 
                             </H2>
                         </P>
                     </div>
                     <div class="user-flip-back" >
                         <h1>
                            {{ user.first_name}} {{ user.last_name}}
                         </h1>
                        
                         <p>
                             {{ user.staffprofile.level }}
                         </p>
                     </div>
                     
                 </div>
                 </div>
             </div>
             <div class="user-flip">
                 <div class="user-flip-inner">
                 <div class="user-display">
                     <div class="user-flip-front1">
                         <p>
                             <h1>
                                 <i class="fa fa-lock"></i>
                             </h1>
                           
                           
                           <h2>
                            Staff  ID:
                        </h2>
                    </p>
                                           
                            
                              
                           
                        
                    
                    <p>
                        <h2>
                            {{ user.staffprofile.staff_id }}
                        </h2>
                    </p>
                   
                    
                  
                   

                          
                     </div>
                     <div class="user-flip-back1" >
                        
                       <h2>
                        {{ user.staffprofile.department }}
                       </h2>
                         
                     </div>
                     
                 </div>
                 </div>
                 
             </div>
             <div class="user-flip">
                 <div class="user-flip-inner">
                    <div class="user-display">
                     <div class="user-flip-front2">
                         <p>
                             <h1>
                                 <i class="fa fa-sign-in"></i>
                             </h1>
                             <h2>
                                You're sign in
                               </h2>
                         </p>
                        </div>
                        <div class="user-flip-back2" >
                            <h1>
                                Date joined:
                            </h1>
                            <p>
                               {{ user.date_joined }}
                            </p>
                            
                        </div>
                        
                    </div>
                 </div>
             </div>
             <div class="user-flip">
                 <div class="user-flip-inner">
                    <div class="user-display">
                     <div class="user-flip-front3">
                         <p>
                             <h1>
                                 <i class="fa fa-codepen"></i>
                             </h1>
                             <h2>
                                Logs
                               </h2>
                         </p>
                        </div>
                        <div class="user-flip-back3" >
                            <h1>
                                Daily Report
                            </h1>
                            <h1>
                                Events
                            </h1>
                          <h1>
                             Catalogue
                          </h1>
                        </div>
                        
                    </div>
                 </div>
             </div>
        </div>
    {% endif %}    
         
    
       
        {% include "partials/_alerts.html" %}
        
        <div class="box">
         <h2>Work Logs</h2>
        <form action="{% url 'logs' %}" method="POST" class="form-log">

                        {% csrf_token %}

                {% if user.is_authenticated %}

                <input type="hidden"  name="user_id" value="{{ user.id }}">
               
                {% else %} 
                <input type="hidden" name="user_id" value="0">

                {% endif %}
                <input type="hidden" name="clock_in" value="{{ clock_in }}">
                <input type="hidden" name="work_id" value="{{ work_id }}">
                <div class="inputBox">
                    <input type="text" name="full_name"
                    value="{{ user.first_name }} {{ user.last_name }}"
               required>
                    <label for="full_name" >name</label>
                </div>

                <div class="inputBox">
                    <input type="email" name="email" value="{{ user.email }}" required >
                    <label for="email">email</label>
                </div>

                <div class="inputBox">      
                  
                
                    <input type="text" name="department" value="{{ user.staffprofile.department }}" required>
                    <label for="department">department</label>
                </div>
                <div class="inputBox">
                    <input type="text" name="team_leader" value="{{ form.team_leader }}" required >
                    <label for="team_leader">team leader</label>
                </div>

                <div class="inputBox">
                    <input type="text" name="work_title" value="{{ form.work_title }}" required>
                    <label for="work_title">work-title</label>
                </div>
               
                
                <input type="submit" name="submit" id="">
                <!-- <input type="hidden" value="{{ staff_id }}"> -->
        </form>
     
     </div>
     </div>
     <!-- end main content  -->
 
  {% endblock content %}
  

</body>
</html>