<header>
    <div class="container">
        <div class="social-media">
            <button class="social-icons" type="button">A</button>
            <button class="social-icons"  type="button">B</button>
            <button class="social-icons"  type="button">C</button>
            <button class="social-icons "  type="button">D</button>
        </div>

    </div>

   <div class="wrapper">
       <ul id="routing">
        <li>
            <a href="{% url 'index' %}">Home</a> 
        </li>
           <li>
               <a href="{% url 'about' %}">About</a>
           </li>
           <li>
            <a href="#">Listings</a>
        </li>
       </ul>
   </div>
   <div class="describe">
    <input type="text" placeholder="keyword(pool,Garage, etc)" name="" id="">
    <input type="text" placeholder="City" name="" id="">
    <section name='state'>
        <option selected='true' disabled='disabled'> State (All)</option>
        <option value="LG">Lagos</option>
        <option value="OY">Oyo</option>
        <option value="ON">Ondo</option>
        <option value="EK">Ekiti</option>

    </section>
</div>
</header>