{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC Limited  
        {% block title %}
          
        {% endblock title %}
    </title>
    {% block links %}
      
    {% endblock links %}
</head>
<body>
    
    
    {% block content %}
    {% include "partials/_alerts.html" %}
      
    {% endblock content %}

    {% block scripts %}
      
    {% endblock scripts %}
</body>
</html>